# Node modules
node_modules/
*/node_modules/

# Truffle build
blockchain/build/

# Logs
*.log

# Environment
.env
.env.*

# Python
__pycache__/
*.pyc

# ML models
ml-service/models/*.pkl

# OS
.DS_Store
Thumbs.db

backend/.env
